
.list-ul{
    padding: 20px;
}

.list-li{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.list-cont{
    flex: 1;
}

.list-x{
    width: 50px;
    text-align: center;
    color: red;
}