/** @format */
@import "@/app.scss";

.os-btn {
  width: auto;
  height: 80px;
  line-height: 80px;
  border-radius: 6px;
  padding: 0 48px;
  font-size: $font-size-base;
  box-sizing: border-box;
  background: #fff;
  margin-top: 0;
  color: $font-color-base;
}
