.header{
    background: #000;
    padding: 0 20px;
}

.header2{
    height: 100px;
    overflow: hidden;
}

.ember{
    color: #fff;
    font-size: 40px;
    padding: 10px;
}
.header View{
    color: #fff;
    padding: 20px 0;
}