/** @format */

.ostable-else {
  background: $back-base;
  padding: 8px;
  table {
    width: 100%;
    border: 1px solid $border-base;
    thead {
      color: $font-color-secondary;
      text-align: left;
      span {
        color: $font-color-base;
      }
    }

    tr {
      border-bottom: 1px solid $border-base;
    }
    td,
    th {
      padding: 8px;
    }
  }
}
