/** @format */
@import "@/app.scss";
.content {
  &-topic__map {
    position: relative;
    .conten-topic__map-modal {
      position: absolute;
      top: 10px;
      z-index: 99;
      background: $back-base;
      width: 100%;
      border: 1px solid $border-base;
      border-radius: 16px;

      &-table {
        width: 100%;
        padding: 32px 40px 8px;

        .os-h4 {
          font-size: $font-size-h4;
          color: $font-color-secondary;
          margin-bottom: 16px;
        }
        &-tr {
          display: flex;
          flex-wrap: wrap;
          .os-p {
            background: $btn-back-base;
            border-radius: 8px;
            margin-right: 28px;
            margin-bottom: 28px;
            padding: 16px 24px;
            font-size: $font-size-12;
          }
          .os-p.active {
            color: $font-color-active;
          }
        }
      }
      &-btn {
        display: flex;
        padding: 13px 20px;
        justify-content: space-between;
        border-top: 1px solid $border-base;
        font-size: $font-size-base;

        &__cancle {
        }
        &__submit {
          background: $btn-back-active;
          color: $font-color-active-inverse;
        }
      }
    }

    .conten-topic__map-modal::before {
      content: "";
      display: block;
      position: absolute;
      right: 32px;
      top: -8px;
      width: 12px;
      height: 12px;
      background: #fff;
      transform: rotate(45deg);
      border: 1px solid;
      border-color: $border-base transparent transparent $border-base;
    }
  }
}
