/** @format */

@import "@/app.scss";
.content {
  &-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: $back-base;
    border-bottom: 1px solid $border-base;
    padding: 0px 15px;
    display: flex;
    z-index: 999;
    &-p {
      flex: 1;
      text-align: center;
      position: relative;
      top: 1px;
      vertical-align: bottom;
      margin: -1px 40px 0;
      .content-menu-text {
        display: inline-block;
        line-height: 100px;
      }
    }
    &-p.active {
      color: $font-color-active;
      border-bottom: 2px solid $border-active;
    }
  }
}
