/** @format */
$hd: 2 !default; // 基本单位
/** 
 *Backgorund Color
 */
$back-base: #fff !default; // 背景的基本色
$back-secondary: #f8f8f8 !default; // 辅助色
$back-active: #006dff !default; //激活
$back-light: #fafafa !default;
$back-gray-lighter: #e5e5e5 !default;
$back-gray-light: #c4c4c4 !default;

/** 
 *Font Color
 */
$font-color-base: #000000 !default; // 文字的基本色
$font-color-active: #006dff; //激活
$font-color-active-inverse: #fff !default; // 反色
$font-color-secondary: #979797 !default; // 辅助色

/** 
 *Font Size
 */
$font-size-8: 8px * $hd !default;
$font-size-10: 10px * $hd !default; // 非常用字号，用于标签
$font-size-12: 12px * $hd !default; // 用于辅助信息
$font-size-base: 16px * $hd !default; // 常用字号
$font-size-18: 18px * $hd !default; // 常规标题
$font-size-20: 20px * $hd !default; // 大标题
$font-size-24: 24px * $hd !default; // 用于大号的数字
$font-size-h1: 28px * $hd !default; // 标题h1字体
$font-size-h2: 20px * $hd !default; // 标题h2字体
$font-size-h3: 16px * $hd !default; // 标题h3字体
$font-size-h4: 12px * $hd !default; // 标题h4字体
/** 
 *Btn Color
 */
$btn-back-base: #f3f4f6 !default; // 按钮的基本色
$btn-back-active: #1890ff; //激活

/** 
 *Border Color
 */
$border-base: #e5e5e5 !default; // 边的基本色
$border-active: #1890ff; //激活

/** 
 *Input Color
 */
$input-border-base: #f0f0f0 !default; // 基本色
$input-border-focus: #e59700 !default; // 选中色
$input-border-active: #e59700; //激活
